---
import "../styles/global.css";
import FormNav from "@/components/tutorials/FormNav.astro"
import Layout from "./Layout.astro"

const { title } = Astro.props

const navProps = {
  tutorial : {
    tags :[],
    requiredParts: [],
    requiredTools: [],
  }
}

---


<Layout title={title} >

  <main class="flex flex-row h-screen w-screen" >
    <FormNav tutorial={navProps.tutorial} />
    <slot>
  </main>

</Layout>

